.company-name{
    padding-bottom:5px;
    color:#454545;
}
.trend-chart-container , .chart-container{
    background-color:white;
    padding: 8px 5px;
    border:solid 1px rgb(216, 216, 216);
    border-radius: 8px;
    h6{
        padding:8px 3px;
        border-bottom:1px solid rgb(218, 218, 218);
    }
}
.ga{
    padding:8px 20px; 
    margin:2px;
    color:white;
    background: #2193b0;
    border: solid 1px lightblue;
    border-radius: 8px;
    background: -webkit-linear-gradient(to top, #6dd5ed, #2193b0);  
    background: linear-gradient(to top, #6dd5ed, #2193b0); 
    align-items:center;
    h6{
        border-bottom:1px solid white;
        padding-bottom:3px;
    }
}

.entry-list{
    padding:0px;
    h6{
        padding-bottom:2px;
        border-bottom:solid 1px rgb(228, 228, 228);
    }
    li{
        list-style:none;
    }
}
#line-icon{
    margin-left:18px;
}
.stat-container{
    padding:8px 4px; 
    color:white;
    background: #2193b0;
    border: solid 1px lightblue;
    border-radius: 5px;
    background: -webkit-linear-gradient(to top, #6dd5ed, #2193b0);  
    background: linear-gradient(to top, #6dd5ed, #2193b0); 
    align-items:center;
    h6{
        border-bottom:1px solid white;
        padding-bottom:3px;
    }
}
@media screen and (max-width:768px){

}
@media screen and (max-width:576px){
    .main{
        text-align: center;
    }
    .chart-container{
        text-align:center;
    }

}