.crypto-card{
    padding:8px 6px; 
    margin:8px;
    background-color:white;
    border:solid 1px rgb(216, 216, 216);
    align-items:center
    ;
    border-radius: 8px;
    border-top:solid 3px #3e95cd;
}