<div class ="row">
  <div class = "col-md-4">
    <div class = "crypto-card" *ngFor = "let index of indexOverviews">
      <a href="#" routerLink="/Crypto/{{index['2. name']}}/{{index['1. symbol']}}">
     <h6 style = "margin:0; color:#454545;"><b>{{index['2. name']}}</b></h6>
     <p style = "margin:0">
      <small>
        Developer Score:{{index['5. developer score']}}
      </small>
  </p>
  <p style = "margin:0">
    <small>
      Rating:{{index['3. fcas rating']}}
    </small>
</p>
</a>
    </div>

  </div>
    <div class = "col-md-8">
      <router-outlet></router-outlet>
    </div>
</div> 
<div class = "chart-container">
  <h6><b>Crypto News</b></h6>
    <div class="row">
        <div class='col-md-4 ' *ngFor="let article of cryptoArticles">
            <a href = "{{article.url}}" target = "_blank">
              <div class = "news-card">
                <h4>{{article.headline}}</h4>
                <div class ="img-box" width = "90%">
                  <img src = "{{article.image}}" alt ="image not avaliable"width = "100%">
                </div>
                <p>
                  {{ article.summary }}
                </p>
              </div>
            </a>
        </div>
      </div>
</div>