<div class = "row">
    <div class = "col-12">
      <div class="chart-container" style = "margin-top:0px;"> 
        <canvas id="intradayChart" style = "width:100%;"></canvas>
       </div>
    </div>
</div>
    <div class = "row">
      <div class = "col-md-6">
        <div class = "chart-container">
          <canvas id = "trendChart"></canvas>
        </div>
      </div>
      <div class = "col-md-6">
        <div class = "chart-container">
          <canvas id = "espChart"></canvas>
        </div>
      </div>
    </div>
