<div>
<h3 style = "margin:0; color:#454545;">Market Overview</h3>
<div class = "row">
    <div class = "col-md-3" *ngFor = "let profile of companyProfiles">
        <a href="#" routerLink='/{{profile.name}}/{{profile.ticker}}'>
        <div  class = "stock-box">
            <h6 style = "margin:0;" >
                <b style = "color:#565656" >
                    {{profile.name}} 
                </b>
            </h6>
            <p style = "margin:0">
                <small>
                Mkt Cap:{{profile.marketCapitalization}}
                </small>
            </p>
            <p style = "margin:0">
                <small>
                    O/S Shares:{{profile.shareOutstanding}}
                </small>
            </p>
        </div>
    </a>                                                      
    </div>
</div>
<router-outlet></router-outlet>
<div class = "row">
    <div class = "col-md-6">
        <table class = "sector-table">
        <div class = "text-box text-center">
            <h5>U.S. Sectors Performance</h5>
            <p>
                <small>
                    As Of {{lastRefreshed}}
                </small>
        </p>
        </div>
            <tr>
                <th>Sector</th>
                <th>Last % Change</th>
            </tr>
            <tr>
                <td>Energy</td>
                <td>{{Energy}}</td>
            </tr>
            <tr>
                <td>Industrials</td>
                <td>{{Industrial}}</td>
            </tr>
            <tr>
                <td>Materials</td>
                <td>{{Materials}}</td>
            </tr>
            <tr>
                <td>Consumer Staples</td>
                <td>{{ Staples }}</td>
            </tr>
            <tr>
                <td>Financials</td>
                <td>{{Financials}}</td>
            </tr>
            <tr>
                <td>Utilities</td>
                <td>{{Utilities}}</td>
            </tr>
            <tr>
                <td>Real Estate</td>
                <td>{{RealEstate}}</td>
            </tr>
            <tr>
                <td>Consumer Discretionary</td>
                <td>{{ Discretionary }}</td>
            </tr>
            <tr>
                <td>Communication Services</td>
                <td>{{ CommunicationService }}</td>
            </tr>
            <tr>
                <td>Information Technology</td>
                <td>{{ IT }}</td>
            </tr>
            <tr>
                <td>Health Care</td>
                <td>{{ Healthcare }}</td>
            </tr>
        </table>
    </div>
</div>
</div>
