<ng2-slim-loading-bar></ng2-slim-loading-bar>  
<header class="ga" >
  <div class="logo">
    <h3 style="margin:0">
     <img src="https://cdn.clipart.email/ffdfeb0ab6acb547fdd11b2fdcf5eb35_market-computer-icons-chart-market-transparent-background-png-_800-800.jpeg"
        id="stock-icon"> 
      Stockery</h3>
  </div>
  <div class="other">
    <div>
      <img src="https://www.festivalclaca.cat/pics/b/37/372264_menu-icon-png.jpg"id="side-nav"
        (click)="toggle()">
    </div>
    <div>
      <app-auto-suggest-bar></app-auto-suggest-bar>
    </div>
  </div>
</header> 
<div class="container-fluid" style="padding:0">
   <main class="main">
    <div class="menu" id="menu">
      <ul class="link-box">
        <a href="#" routerLink="/" routerLinkActive='active-route'>
          <li>   
            <b>
              Home
            </b>
          </li>
        </a>  
        <a href="#" routerLink='/News'>
          <li>
            <b>
              News
            </b>
          </li>
        </a>
        <a href="#" routerLink='/Crypto'>
          <li>
            <b>
              Crypto
            </b>
          </li>
        </a>
        <a href="#" routerLink='/forex'>
          <li>
            <b> Forex</b>
          </li>
        </a>
        <a href="#" routerLink='/economy'>
          <li>
            <b>
              Economic Calender
            </b>
          </li>
        </a>
        <a href="#" routerLink='/favorites'>
          <li>
            <b>
              Watchlist
            </b>
          </li>
        </a>
      </ul>
    </div>
    <div class="route-sec">
      <router-outlet  (activate)="onActivate($event)" ></router-outlet>
    </div>
  </main>


</div>