<header class="ga">
  <div class="logo">
    <h3 style="margin:0">
      <img src="https://cdn1.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/eat-circle-orange-512.png"
        id="food-icon">
      Fooderia.com</h3>
  </div>
  <div class="other">
    <div>
      <img src="https://www.stickpng.com/assets/images/588a64f5d06f6719692a2d13.png"id="side-nav"
        (click)="toggle()">
    </div>
    <div>
      <input placeholder="Search Receipes..." style="height: 20px;" id="search-Box"[(ngModel)] = "value"><button
        id="search-bnt"routerLink = '/recipe-results/{{value}}'>Search</button>
    </div>
  </div>
</header> 
<div class="container-fluid" style="padding:0">
  <main class="main">
    <div class="menu" id="menu">
      <div class="menu-img-box">
        <img src="https://assets3.thrillist.com/v1/image/2797371/size/tmg-article_default_mobile.jpg">
      </div>
      <ul class="link-box">
        <a href="#" routerLink="/" routerLinkActive='active-route'>
          <li>
            Home
          </li>
        </a>
        <a href="#">
          <li>

            My Receipes

          </li>
        </a>
        <a href="#">
          <li>
            Create a Receipe
          </li>
        </a>
        <a href="#" routerLink='/favorites'>
          <li>
            Favorites
          </li>
        </a>
      </ul>
    </div>
    <div class="route-sec">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>