.company-symbol{
    margin-bottom:10px;
}
li{
        display:flex;
        padding: 6px 1px;
        a{
            flex:1
        }
}
.filter-wrapper{
    position:relative;
    left:60px;
    width:50vw;
    .keyword-wrapper{
        width:100%;
        input{
            width:100%;
            padding: 3px;
        }
    }
    input::placeholder{
        padding: 0px 3px;
    }
    .filter-select{
        width:50vw;
        border-top:none;
        border-left: solid 1px grey;
        border-bottom: solid 1px grey;
        border-right: solid 1px grey;
        list-style: none;
        font-size: 1.1em;
        color: rgb(105, 105, 105);
        border-top: none;
        position: absolute;   
        max-height:25vh;
        overflow-y: auto;
        padding:0px 5px;
        background: #fff
    }
}
@media screen and (max-width:576px){
    .filter-wrapper{
        width:70vw;
        .filter-select{
            width:100%;
            font-size:0.8em;
        }
    }
}