body{
  background-color:#f8f8f8;
}
a{
    color:#494949;
    &:hover{
        text-decoration:none;
        color:#494949;
    }
}
.img-box {
  width: 100%;

  img {
    width: 100%;

  }
}

.info-box {
  padding: 15px 5px;
  border: rgb(236, 236, 236) solid 1px;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 2px 2px 9px 0px #dadada;
}

.recipe-box {
  width: 100%;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    z-index: 2;
  }
}